//COLORES
$body-back-color:#f5ebe0;
$header-back-color: #0d1321; 
$footer-back-color: #03071e;
$footer-letter-color: #979dac;
$menu-items-color: #eff6e0;
$menu-items-h-color: #0a9396;


//FUENTES
$font-titles: 'Aboreto', sans-serif;
$font-gral: 'Albert Sans', sans-serif;
$font-maps: 'Abril Fatface', sans-serif;;
